#movingBallG{
position:relative;
width:400px;
height:31px;
}

.movingBallLineG{
position:absolute;
left:0px;
top:13px;
height:6px;
width:400px;
background-color:#D6D6D6;
}

.movingBallG{
background-color:#A7383E;
position:absolute;
top:0;
left:0;
width:31px;
height:31px;
-moz-border-radius:16px;
-moz-animation-name:bounce_movingBallG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:normal;
-webkit-border-radius:16px;
-webkit-animation-name:bounce_movingBallG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:normal;
-ms-border-radius:16px;
-ms-animation-name:bounce_movingBallG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:normal;
-o-border-radius:16px;
-o-animation-name:bounce_movingBallG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:normal;
border-radius:16px;
animation-name:bounce_movingBallG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:normal;
}

@-moz-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:369px;
}

100%{
left:0px;
}

}

@-webkit-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:369px;
}

100%{
left:0px;
}

}

@-ms-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:369px;
}

100%{
left:0px;
}

}

@-o-keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:369px;
}

100%{
left:0px;
}

}

@keyframes bounce_movingBallG{
0%{
left:0px;
}

50%{
left:369px;
}

100%{
left:0px;
}

}

