/*GLOBAL*/
.centerOuterX{
  position: absolute; 
  left: 50%;
  /*absolute positioning center cheat*/
}
.centerInnerX{
  position: relative; 
  left: -50%;
  /*absolute positioning center cheat*/
}

.centerOuterY{
  position: absolute; 
  top: 50%;
}
.centerInnerY{
  position: relative; 
  top: -50%;
  /*absolute positioning center cheat*/
}

.red{
  color:#A7383E;
}
/* NAV */

#navMarginTop{
  margin-top:0px;
}

.navbar {
  font-size: 15px;
  font-weight: 300;
  min-height: 45px;
  background: none;
}

.navbar-nav{
  float:none;
}

.navbar-brand {
  float: left;
  padding: 12px 20px;
  font-size: 19px;
  line-height: 25px;
  height: 55px;
}
.navbar-brand img {
  height:55px;
  width:auto;
}

/*TOP NAV*/
#topNav{
  position:absolute;
  width:100%;
  z-index:1000;
}
#topNav ul{
  margin-top:19px;
}

#topNav li a {
  position: relative;
  display: block;
  padding: 12px 10px;
}

/*TOP NAV END*/

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #A7383E;
  background: none;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #A7383E;
  background: none;
}

.navbar-default .navbar-nav > li > a:focus{
  color: #A7383E;
  background: none;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 20px 40px;
}

@media screen and (min-width: 768px){
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }  
}

/* NAV END*/

/*BANNER*/

.banner{
  width:100%;
  position:relative;
  height:600px;
}

.banner .slide{
  width:100%;
  height:600px;
  background-size: 1920px 600px;
  background-position:center;

  position:absolute;
}

.banner .navOuter{
  bottom:0;
  z-index:100;
}

.banner .nav{
  bottom:0;
  z-index:100;
}
.banner .nav .dots{
  padding:0;
}
.banner .nav .dot{
  display:inline-block; 
}

.banner .nav .dot a{
  width:30px;
  height:30px;
  margin:0 5px;
  background-image:url('../images/carousel/navCircle.png');
  background-size:30px 30px;
  display:inline-block;
  transition: all 0.2s linear;
}

.banner .nav .dot .active{
  background-image:url('../images/carousel/activeNavCircle.png');
}

.banner .nav .dot a:hover{
  background-image:url('../images/carousel/activeNavCircle.png');
  transition: all 0.3s linear;
}

.bannerButtons{

}
.prevButton{

}
.nextButton{

}

@media only screen and (max-width: 1440px){
  
  .banner{
    width:100%;
    position:relative;
    height:450px;
  }

  .banner .slide{
    width:100%;
    height:450px;
    background-size: 1440px 450px;
    background-position:center;

    position:absolute;
  }

}

.banner .arrow{
}

.banner #prevArrow{
  top:45%;
  position:absolute;
  display:block;
  background-image:url('../images/carousel/prev.png');
  background-size:70px 70px;
  width:70px;
  height:70px;
  left:0;

}

.banner #nextArrow{
  top:45%;
  right:0;
  position: absolute;
  display:block;
  background-image:url('../images/carousel/next.png');
  background-size:70px 70px;
  width:70px;
  height:70px;
}

.banner #prevArrow:hover{

  background-image:url('../images/carousel/activePrev.png');
  background-size:70px 70px;
  width:70px;
  height:70px;
  left:0;

}

.banner #nextArrow:hover{

  background-image:url('../images/carousel/activeNext.png');
  background-size:70px 70px;
  width:70px;
  height:70px;

}

.banner .slide .textOuter{
  width:100%
}

.banner .slide .textOuter .textInner{
  width:100%; 
  text-align:center;
}

.banner .slide .textOuter .textInner h1 a{
  z-index:10; 
  margin:0; 
  margin-bottom:10px;
  color:white; 
  font-size:4vw;
}

.banner .slide .textOuter .textInner h1 a:hover{
  text-decoration:none;
  cursor:pointer;
}

.banner .slide .textOuter .textInner .btn{
  margin-top:10px;
  background-color:#A7383E;
  border-color:#999;
}

.banner .slide .textOuter .textInner .btn:hover{
  margin-top:10px;
  background-color:#B04C51;
}

.banner .slide .textOuter .textInner h3{
  z-index:10; 
  margin:0; 
  margin-bottom:10px;
  color:#EBEBEB; 
  font-size:1.5vw;
}

/*BANNER END*/

/*BLOGNAV*/

#blogNav{
  width:100%; 
  display:block;
  float:none;
  border-bottom:1px solid #F0F0F0;
}

#blogNav ul{
  color: #999;
  display:block; 
  width:700px; 
  margin:auto; 
}

#blogNav a {
  color:#333;

}

#blogNav ul .active a{
  color:#A7383E;

}

#blogNav a:hover{
  color:#A7383E;

}

#blogNav a:focus{
  color:#333;
  background:none;
}

.controls-fixed{
  background-color:white;
  top:0;
  left:0;
  position:fixed;
  z-index:1001;
}

/*BLOGNAV END*/

.listedPost img{
  width:30%; 
  margin:0 15px; 
  display:inline-block;
  vertical-align:top;
}

.listedPost .textSection{
  width:60%; 
  display:inline-block;
}

.listedPost .short{
   overflow: hidden;
   margin: 10px 0 5px 0;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 64px;      /* fallback */
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.listedPost .textSection h3 a{
  color:black;
  text-decoration: none;
}

.listedPost .textSection h3 a:hover{
  color: #A7383E;
  cursor: pointer;
}

/*FOOTER*/
.footer{
  display:inline-block;
  width:100%; 
  padding:10px; 
  margin-top:20px; 
  border-top:1px solid #E6E6E6; 
  width:100%;
}

.footer .logo{
  margin-top:-10px;
  margin-bottom:5px;
  width:120px;
}

.footer ul{
  list-style-type: none;
  margin: 20px 0;
}
.footer h3{
  margin-top:20px;
  margin-bottom:10px;
}

.footer li{
  margin-top:10px;
}

.footer a{
  color:#333;
  padding:10px;
}

.footer li a:hover{
  color:#A7383E;
  padding:10px;
  text-decoration:none;
}


.footer .botLinks{
  font-size:11px;
}

#emailTextInput{
  padding:7px 5px 9px 5px; 
  width:70%;
}

#emailSubmit{
  width:30%;
}

/*END FOOTER*/

/*TAGS*/
.label-danger{
  background:#A7383E;
}

/*Floating Status Update*/
.ng-hide-add, .ng-hide-remove {
    display: block !important;
}
#floatingStatusUpdateContainer{
  position:fixed;
}
#floatingStatusUpdate{
  z-index:1000;
  background-color:rgba(0,0,0,0.8);
  padding:10px;
  font-size:50px;
  color:white;
  
}
/*.fadeContainer > .ng-hide{
  transition: 1s linear all;
  display: block!important;
  opacity: 0;
}*/
/*Floating Status Update End*/














