<link rel="stylesheet" href="styles/essential.css">
<div class="content">
<div class = "topBanner">
	<div class = "centerOuterX centerOuterY">
		<center class ="centerInnerX centerInnerY">
			<img src = "images/uneek_logo_large.png"></img>
			<h2> About Us</h2>
		</center>
	</div>
</div>

<div class = "container">
	<p class = "topDescription">
		At Uneekio, we believe that success is only attainable through consistent growth. Viewing the world and society in a different lens reveals hidden insights that allow for the self - analysis crucial to personal growth. This blog exists to help those who want to be more successful become more driven, efficient, and wiser in the process. Be brave in the face of adversity, preservere in a fall from failure and let us grow together.
	</p>
</div>