<link rel="stylesheet" href="styles/contact.css">
<div class = "contentContainer">
	<div id = "contactPage" class = "content contentTopBorder">
		<center>
			<div class = "title">
				<h1>Want to talk?</h1>
			</div>
			<div class = "col-md-3"></div>
			<div class = "col-md-6">
				<form>
					<input type="text" class="form-control" id="inputEmail" placeholder="Your Name">
					<input type="text" class="form-control" id="inputEmail" placeholder="Your Email">
					<textarea class="form-control" id="message" name="message" placeholder="Your message" rows="10" required=""></textarea>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
				
			</div>
			<div id = "email" class = "col-md-12">
				<h1>uneekio@gmail.com</h1>
			</div>
		</center>
	</div>
</div>