<link rel="stylesheet" href="styles/blogPost.css">
<div class = "uneekioBlogPage">
	<div class = "blogTopBorder"></div>
	<div class = "blogBody">

	</div>
	  <div class = "col-md-9">
	  	<h1 class = "blogTitle">
			 {{post.title}}
			</h1>
			<a class = "btn btn-primary">Share This On Facebook</a>
			<a>Share This On Twitter</a>

			<div class = "imgContainer">
				<img ng-src = "{{post.image}}">
				<div class = "blogNav" >
					<center>
						<h2>Key Points</h2>
						<a >Test</a>
						<a >Test</a>
						<a >Test</a>
						<a >Test</a>
						<a >Test</a>
					</center>
				</div>
			</div>

	    <div class = "blogContent">
	    <p>
				This is not another post that narrates about some person’s richer life in some exotic place due to some unconventional method they have found to make a huge sum of money. Rather, all I’m endorsing is for everyone to begin asking better questions, starting with the very conventions that drive our society. A lot of this might seem like dreamer talk, and if it is, hopefully you’ll give my post why you are allowed to dream big a chance before you continue.
			</p>
			<p>
				Conventions are important, but far too many people blindly follow conventions because it is what they are taught, without giving it enough reason or thought. Here are three of my top reasons to start questioning convention that has lead me to a variety of successes, over-achievements and a general self-fulfillment that I have not experienced prior.
			</p>
			<h3>1. Convention breeds mediocrity.</h3>
			<p>
				By definition, following convention can be simplified to doing what is normally accepted. We’re all taught at a young age to learn to stick in and not stick out. But is being normal really good? Here are the facts, normal people have a one in two chance to get divorced(1), a two in one chance to hate your job(2) and a two in one chance to not have enough savings when you retire(3). Are these facts that you are happy to settle with? 

			</p>
			<p>
				In this world, those select few who hare rich are outnumbered by the number that is not so rich. No matter what your definition of success is, this fact usually stays true where a large number of unsuccessful dream towards the few who are. Rather than using this as motivation to give up, use it as motivation to be different. To succeed means to be the ones that do things a little differently, to live life a little different than the vast majority of people. To accept conventionalism blindly is to cage yourself within the side of mediocrity.

			</p>
			<p>
				In fact, if you look at recent history, many of the most storied successes live very unconventional lives and have made very unconventional decisions. According to the Harvard Business Review, innovators of successful businesses spend almost 50% more time trying to think different compared to non-innovators(4). Take some time to go through some biographies and you will quickly find yourself awed by the stories and decisions that some of these individuals took. 

			</p>
			<h3>2. It helps you do everything for a reason.</h3>
			<p>
				The theme of this article is not simply about living unconventionally, it is about questioning the very way you live your life so that you can find the reason behind everything you do. Knowing the reason you do things allows you to rationally make a decision and rationally benchmark it’s ultimate benefit to you, allowing you to increase the efficiency of your day. Successful people understand that there is only so much time in a person’s time and that they can’t waste any valuable time wasting it on something that doesn’t benefit you. Research has also shown that the effectiveness of a task increases by simply learning the reason behind a particular action.
			</p>
			<p>
				Intellect is human’s greatest weapon, so start maximizing the value your actions bring. 
			</p>
			<p>
				In a totally-unrelated but nevertheless  very good book Hooked by Nir Eyal, he suggests that asking anything five questions will usually get you to the true reason behind the action. Ask why you’re really applying for a 9-5 job, ask why you can’t be extraordinary, ask why you have to live stressed and unhappy… Next time someone tells you to do something, question why you are actually doing it, and whether it actually will benefit what you want in life.
			</p>
			<h3>3. It allows you have more self fulfillment.</h3>

			<p>
				Some people deal with a lot of uncertainty when it deals with happiness and fulfillment in their life. Once you’re able to put a reason behind your actions, you will start realizing that every task you accomplish becomes more purposeful, and your life as a whole becomes both productive and meaningful. As a direct result, by asking more questions, I’ve noticed a general increase in personal self-fulfillment.
			</p>

			<p>
				As you understand the reason behind your actions, you eventually gain a confidence in your actions and your decision making, directly reducing the amount of regret in your life. You will also be increasingly willing to embrace failure. By making simple changes in your perspective, you could be surprised at how much your life really changes and how much more success you are able to attain. Just give it a try, next time someone tells you the right way to do something, ask yourself why? How much benefit does this really have for me? Is it really worth it? Could I be doing something better with my time? 
			</p>


	        </div>
	  </div>
	  <div class = "col-md-3">
	    <div class="list-group">
	      <div href="#" class="list-group-item">
	        <h4 class="list-group-item-heading">Trending Topics</h4>
	      </div>
	      <a href="#" class="list-group-item">
	        <h4 class="list-group-item-heading">List group item heading</h4>
	        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	      </a>
	      <a href="#" class="list-group-item">
	        <h4 class="list-group-item-heading">List group item heading</h4>
	        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	      </a>
	    </div>
	  </div>
	</div>
</div>

