<div class = "banner">
  <img src= "images/5FVJ2PSHJS.jpg"></img>
</div>
<div class = "col-md-8">
</div>
<div class = "col-md-4">
  <div class="list-group">
    <div href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Trending Topics</h4>
    </div>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div>
</div>
