<title>uneek.io</title>
<meta name="description" content="Approach your life from new perspectives.">
<div class = "uneekioMainPage">

  <div class = "banner slider">

    <div class = "slide" ng-repeat = "slide in slides" class = "slide"  ng-hide = "!isCurrentSlideIndex($index)" ng-style = "{'background-image' : 'url({{slide.image}})'}">

      <div class = " centerOuterY textOuter">
        <div class = " centerInnerY textInner">
          <h1 ng-href="{{slide.url}}"><a>
            {{slide.title}}</a>
          </h1>
          <h3>
            {{slide.featuredDescription}}
          </h3>
          <a class = "btn btn-primary" ng-href="{{slide.url}}">Read More</a>
        </div>
      </div>

    </div>
    
    <a id = "prevArrow" class = "arrow" href ="#" ng-click = "nextSlide()"></a>
    <a id = "nextArrow" class = "arrow" href = "#"  ng-click = "prevSlide()"></a>

    <div class = "centerOuterX navOuter">
      <nav class = "nav centerInnerX" >
        
          <div  class = "wrapper">
            <ul class = "dots">
              <li class = "dot" ng-repeat = "slide in slides">
                <a href = "#" ng-class = "{active :isCurrentSlideIndex($index)}" ng-click = "setCurrentSlideIndex($index);"></a>
              </li>
            </ul>
          </div>
      </nav>
    </div>

  </div>
</div>

<div sticky-nav id = "blogNav" class="navbar navbar-default">
  <div class="collapse navbar-collapse" id="js-navbar-collapse" >
    <ul class="nav navbar-nav">
      <li>
        <a><img style = "height:40px;"src = "images/uneek_logo2.png"></a>
      </li>
      <li class="active"><a ng-href="#/about">Outside the Box</a></li>
      <li><a ng-href="#/">Entrepreneur</a></li>
      <li><a ng-href="#/">Self-Improvement</a></li>
    </ul>
  </div>
</div>

<div class = "placeHolder" ng-show="isBlogNavFixed" style = "position:width:100%;height:70px;margin-bottom:21px;">
</div>

<div class = "col-md-9">
  <div class = "listedPost" ng-repeat = "post in posts | filter:{tags:tagFilter} ">
    <a href = "{{post.url}}" class = "postImage" ng-style = "{'background-image' : 'url({{post.image}})'}">
      <h3 class = "imageTitle">{{post.title}}</h3>
    </a>
    <div class = "textSection">
      <h3 ><a  href = "{{post.url}}">{{post.title}}</a></h3>
      <span class="label label-danger" ng-repeat = "tag in post.tags">{{tag}}</span>
      <div class = "short" ng-include="post.descriptionUrl">
      </div><a ng-href = "{{post.url}}">Read More</a>
    </div>

  </div>
</div>

<div class = "col-md-3" style = "display:none">
  <div class="list-group">
    <div href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Trending Topics</h4>
    </div>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">List group item heading</h4>
      <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    </a>
  </div>
</div>


